<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartmanagingapps">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartManagingApps">
        <activity android:name=".DB_CHECK"></activity>
        <activity android:name=".basic_info_activity" />
        <activity android:name=".outputdisplay" />
        <activity android:name=".postharvest" />
        <activity android:name=".harvesting" />
        <activity android:name=".fertilizing" />
        <activity android:name=".spraying" />
        <activity android:name=".seeding" />
        <activity android:name=".land_preparation" />
        <activity android:name=".data_input" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>